@import "https://fonts.googleapis.com/css?family=Orbitron";
/*

    Glitchy Text from https://css-tricks.com/glitch-effect-text-images-svg/

  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
html, body {
  background-color: #000;
  text-align: center;
  padding: 10%; }

.content {
  color: #62C85B;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #61F5A1;
  position: relative; }
@keyframes glitch-anim-1 {
  0% {
    clip: rect(114px, 1084px, 52px, 0); }
  5.8823529412% {
    clip: rect(85px, 1084px, 100px, 0); }
  11.7647058824% {
    clip: rect(98px, 1084px, 48px, 0); }
  17.6470588235% {
    clip: rect(98px, 1084px, 41px, 0); }
  23.5294117647% {
    clip: rect(67px, 1084px, 32px, 0); }
  29.4117647059% {
    clip: rect(11px, 1084px, 105px, 0); }
  35.2941176471% {
    clip: rect(105px, 1084px, 78px, 0); }
  41.1764705882% {
    clip: rect(115px, 1084px, 48px, 0); }
  47.0588235294% {
    clip: rect(98px, 1084px, 3px, 0); }
  52.9411764706% {
    clip: rect(17px, 1084px, 10px, 0); }
  58.8235294118% {
    clip: rect(88px, 1084px, 90px, 0); }
  64.7058823529% {
    clip: rect(83px, 1084px, 4px, 0); }
  70.5882352941% {
    clip: rect(66px, 1084px, 6px, 0); }
  76.4705882353% {
    clip: rect(101px, 1084px, 103px, 0); }
  82.3529411765% {
    clip: rect(46px, 1084px, 63px, 0); }
  88.2352941176% {
    clip: rect(15px, 1084px, 15px, 0); }
  94.1176470588% {
    clip: rect(56px, 1084px, 54px, 0); }
  100% {
    clip: rect(113px, 1084px, 94px, 0); } }
@keyframes glitch-anim-2 {
  0% {
    clip: rect(103px, 1084px, 47px, 0); }
  5.8823529412% {
    clip: rect(33px, 1084px, 72px, 0); }
  11.7647058824% {
    clip: rect(76px, 1084px, 13px, 0); }
  17.6470588235% {
    clip: rect(6px, 1084px, 64px, 0); }
  23.5294117647% {
    clip: rect(12px, 1084px, 67px, 0); }
  29.4117647059% {
    clip: rect(1px, 1084px, 11px, 0); }
  35.2941176471% {
    clip: rect(48px, 1084px, 54px, 0); }
  41.1764705882% {
    clip: rect(103px, 1084px, 73px, 0); }
  47.0588235294% {
    clip: rect(80px, 1084px, 73px, 0); }
  52.9411764706% {
    clip: rect(60px, 1084px, 56px, 0); }
  58.8235294118% {
    clip: rect(99px, 1084px, 55px, 0); }
  64.7058823529% {
    clip: rect(102px, 1084px, 75px, 0); }
  70.5882352941% {
    clip: rect(93px, 1084px, 97px, 0); }
  76.4705882353% {
    clip: rect(2px, 1084px, 86px, 0); }
  82.3529411765% {
    clip: rect(53px, 1084px, 90px, 0); }
  88.2352941176% {
    clip: rect(62px, 1084px, 31px, 0); }
  94.1176470588% {
    clip: rect(57px, 1084px, 14px, 0); }
  100% {
    clip: rect(110px, 1084px, 32px, 0); } }
  .content:before, .content:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0); }
  .content:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .content:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }

/*# sourceMappingURL=glitchy.css.map */
